@import '../../../../assets/mixins/mixin.scss';

.header-wrapper{
    position: fixed;
    left: 88%;
    top: em(10px);
    max-width: em(180px);
    z-index: 100;

    .user-name{
        color: #fff;
        font-size: em(17px);
        font-family: 'Times New Roman', Times, serif;
        max-width: em(180px);
        line-height: em(35px);
    }
}