@import "../../../../assets/mixins/mixin.scss";

.dialog-wrapper{
    width: em(400px);
    height: em(400px);

    .action-btn{
        height: 35px;
        width: 35px;
        padding: 0px;
    }

    .mat-dialog-actions{
        position: relative;
        margin-top: 35%;

        .done-btn{
            position: absolute;
            right: 0;
        }
    }
}