<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="content-wrapper">
                <p class="pg-not-found-num">404</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="content-wrapper">
                <span class="pg-not-found-text">Page not Found</span>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="content-wrapper">
                <button mat-raised-button color="primary" (click)="goToHome()"> Go back to Home Page</button>
            </div>
        </div>
    </div>
</div>