@import '../../../../assets/mixins/mixin.scss';

.page-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;

    .content-wrapper{
        text-align: center;
    }

    .pg-not-found-num{
        font-size: em(300px);
        font-weight: em(400px);
        font-style: normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .pg-not-found-text{
        font-size: em(100px);
        font-weight: em(400px);
        font-style: normal;
        font-family: monospace;
    }

    button{
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        height: em(50px);
    }
}