@import "../.../../../../assets/mixins/mixin.scss";

.setting-wrapper{
    position: fixed;
    top: em(9px);
    right: em(200px);   
    z-index: 100; 

    button{
        background-color: transparent;
        height: em(40px);
        width: em(40px);

        .mat-icon{
            color: #fff;
        }
    }
}