@import '../../../../assets/mixins/mixin.scss';

nav{
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar-brand{
    margin: 0 em(15px);
}

.navbar-nav{
    padding: 0 em(10px);

    .nav-item{
        margin: 0 em(20px);
    }
}
